* {
	box-sizing:border-box;
}

body {
	font-size:1em;
	font-family: Arial, sans-serif;
	background: #e5d3f3;
	margin:0;
	padding:0;
	overflow-x:hidden;
}

section {
	scroll-margin-top:30vh;
}

img{
	object-fit:contain;
}


/* HEADER */
header.main-header {
	background-color:#731d74;
	width:100%;
	height:13.1vh;
	display:flex;
	align-items:center;
	justify-content:space-between;
	margin:0;
	padding:10px 20px;
	border-bottom:2px solid black;
	overflow:hidden;
	position:fixed;
	top:0;
}

header.main-header h1 {
	color:#ffffff;
	font-size:24px;
	margin:0;
}

#profile-pic {
	margin:0;
	padding:0;
}

#profile-pic img, .logo img {
	margin:0;
	padding:0;
	height:60px;
	border-radius:50%;
}

.logo {
	margin:0;
	padding:0;
	float:left;
	display:flex;
	align-items:center;
}

#BSU-Logo, #BACKROOMS-Logo{
	margin-right:10px;
}

/* SUBHEADER */
.subheader {
	width:100%;
	background-color: #96468a;
	padding: 10px;
	position:fixed;
	top:13.1vh;
	left:0;
	height:8vh;
	display: flex;
	justify-content:space-between;
	align-items:center;
	align-content:center;
	color:#ffffff;
	z-index:1;
}

.label {
	float:left;
}

.label h5{
	display:inline;
	float:right;
	margin:0;
	margin-left:5px;
	padding:0;
}

#subheader-R{
	display:flex;
	justify-content:space-between;
	align-items:center;
}

/* SIDE-NAV */
#side-nav {
	width:20%;
	height:100vh;
	position:fixed;
    top:21.1vh;
	background-color:#96468a;
	z-index:1; 
	overflow-x:none;
	display:none;
	float:left;
}

#top-border {
	border:1px solid white;
	width:85%;
	margin:auto;
	top:0;
}

#close-btn {
	display:block;
	text-align:right;
	color:#ffffff;
	padding-top:5px;
}

#side-nav ul{
	width:100%;
	margin-top:10px;
	padding:0;
}

#side-nav li {
	background-color:#731d74;
	list-style-type:none;
	text-align:center;
	width:90%;
	margin:auto;
	margin-bottom:5px;
}

#side-nav a  {
	text-decoration:none;
	padding:10px 0;
	display:block;
	color:#ffffff;
	border:2px solid #000000;
}

.on-page {
	display:block;
}

a.tabs {
	margin-top:2px;
}

a.active {
  background-color: black;
  color: #ffffff;
}

#side-nav a:hover {
	background-color:#000000;
	color:#ffffff;
}

main {
	transition:margin-left .5s;
	margin-bottom:5vh;
}

.menu-container {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
  text-align: center;
  padding-top: 230px;
}

.menu-item {
  width: 200px;
}

.menu-item img {
  height: 159px;
  margin-bottom: 15px;
  max-width: 100%;
}

.menu-item a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
  display: block;
}