* {
	box-sizing:border-box;
}

body {
	font-size:1em;
	font-family: Arial, sans-serif;
	background: #e5d3f3;
	margin:0;
	padding:0;
	overflow-x:hidden;
}

section {
	scroll-margin-top:30vh;
}

img{
	object-fit:contain;
}


/* HEADER */
header.main-header {
	background-color:#731d74;
	width:100%;
	height:13.1vh;
	display:flex;
	align-items:center;
	justify-content:space-between;
	margin:0;
	padding:10px 20px;
	border-bottom:2px solid black;
	overflow:hidden;
	position:fixed;
	top:0;
	z-index:1;
}

header.main-header h1 {
	color:#ffffff;
	font-size:24px;
	margin:0;
}

#profile-pic {
	margin:0;
	padding:0;
}

#profile-pic img, .logo img {
	margin:0;
	padding:0;
	height:60px;
	border-radius:50%;
}

.logo {
	margin:0;
	padding:0;
	float:left;
	display:flex;
	align-items:center;
}

#BSU-Logo, #BACKROOMS-Logo{
	margin-right:10px;
}


/* SUBHEADER */
.subheader {
	width:100%;
	background-color: #96468a;
	padding: 10px;
	position:fixed;
	top:13.1vh;
	left:0;
	height:8vh;
	display: flex;
	justify-content:space-between;
	align-items:center;
	align-content:center;
	color:#ffffff;
	z-index:1;
}

.label {
	float:left;
}

.label h5{
	display:inline;
	float:right;
	margin:0;
	margin-left:5px;
	padding:0;
}

#subheader-R{
	display:flex;
	justify-content:space-between;
	align-items:center;
}

#search {
	float:left; 
	display:inline;
	border: none;
	margin-right:10px;
}

#search-icon {
	float: right;
	text-align:center;
	padding:0;
	padding: 1.6px;
	cursor: pointer;
	border: none;
}

#search-bar {
	padding: 6px;
	border: none;
}

#sort-icon {
	float:right;
}


/* OVERLAY */
#overlay {
	position:fixed;
	width:100%;
	height:100%;
	top:13.1vh;
	background-color: rgba(0,0,0,0.5);
	z-index:2;
	cursor:pointer;
	display:none;
}


/* SIDE-NAV */
#side-nav {
	width:20%;
	height:100vh;
	position:fixed;
    top:21.1vh;
	background-color:#96468a;
	z-index:1; 
	overflow-x:none;
	display:none;
	float:left;
}

#top-border {
	border:1px solid white;
	width:85%;
	margin:auto;
	top:0;
}

#close-btn {
	display:block;
	text-align:right;
	color:#ffffff;
	padding-top:5px;
}

#side-nav ul{
	width:100%;
	margin-top:10px;
	padding:0;
}

#side-nav li {
	background-color:#731d74;
	list-style-type:none;
	text-align:center;
	width:90%;
	margin:auto;
	margin-bottom:5px;
}

#side-nav a  {
	text-decoration:none;
	padding:10px 0;
	display:block;
	color:#ffffff;
	border:2px solid #000000;
}

.dropdown-btn {
	padding:10px 0;
	outline:none;
	border:none;
	background:none;
}

.dropdown-container {
	display:none;
}

.on-page {
	display:block;
}

a.tabs {
	margin-top:2px;
}

a.active {
  background-color: black;
  color: #ffffff;
}

.on-page a, .dropdown-container a {
	border:none;
	border-bottom:1px solid rgba(0,0,0,.5);
	text-align:right;
	padding-right:5px;
}

.on-page:nth-child(3), .dropdown-container:nth-child(3) {
	border-bottom:none;
}

#side-nav a:hover, .hover:hover {
	background-color:#000000;
	color:#ffffff;
	cursor:pointer;
}


/* SORT&FILTER */
#sort-filter-box {
	width:20%;
	height:100vh;
	position:fixed;
    top:13.1vh;
	padding:10px;
	right:0;
	background-color:#e5d3f3;
	border:2px solid black;
	z-index:2; 
	overflow-x:none;
	display:none;
}

#sort-header {
	display:flex;
	justify-content:space-between;
	align-items:center;
}

#sort-header #close-btn {
	color:#000000;
}

#sort-filter h3 {
	border-bottom:1px solid black;
	margin-bottom:10px;
}

#sort-filter h4 {
	margin-top:0;
	margin-bottom:10px;
	padding:0;
}

#sort-filter form {
	margin:0;
	padding:0;
}

#sort-filter-menu label {
  display: flex;        
  margin:auto;
  margin-bottom:10px;
  gap: 8px;            
}

#class-size label{
	margin:0;
	display:block;
	float:left;
	width:80px;
}

#sort-filter-menu input[type="text"] {
  width:30px;
  text-align:center;
}

#sort-filter-box button[type="submit"] {
	width:80px;
	padding:5px;
	display:block;
	margin:auto;
	margin-top:100px;
}


/* SCHEDULING */
#scheduling-box {
	width:90vw;
	height:90vh;
	z-index:3;
	position:fixed;
	top:5vh;
	margin:auto;
	left:5vw;
	display:none;
	background: linear-gradient(to bottom, #c17fae, #e3a5c4);
	z-index:2; 
	overflow-x:none;
}

.box-header {
	height:12%;
	display:flex;
	justify-content:space-between;
	color:#ffffff;
	background-color:#731d74;
}

.box-header h1{
	margin:auto 0;
	padding: 0 15px;
}

#sched-headerR, #sched-headerL {
	display:flex;
	align-items:center;
}

#sched-headerR span {
	padding:10px;
}

#info-btn {
	height:60%;
	float:right;
}

#info-btn-close {
	height:60%;
	float:right;
	display:none;
}


/* EDIT SCHEDULING */
#sched-class-desc {
	margin:25px auto;
	padding:auto 10px;
	width:80%;
	height:80%;
	overflow-y:auto;
	display:none;
}

#edit-btn {
	display:flex;
	justify-content:space-between;
	align-items:center;
	text-align:center;
	padding:5px;
}

#edit-btn h3{
	display:inline;
	padding:5px;
	text-decoration:underline;
}

#desc-tbl {
	border-collapse:collapse;
	width:100%;
	height:100%;
	background-color:#e5d3f3;
}

#desc-tbl thead{
	width:100%;
	height:15%;
	background-color:#731d74;
	color:#ffffff;
}

#desc-tbl th, #desc-tbl td {
	width:50%;
}

#desc-tbl tr, #desc-tbl th, #desc-tbl td  {
	text-align:center;
	height:100px;
	border:2px solid black;
}


/* SET SCHEDULE */
#set-sched {
	margin:25px auto;
	width:80%;
	height:80%;
	overflow-y:auto;
	display:none;
}   

#setsched-tbl {
	border-collapse:collapse;
	width:100%;
	height:100%;
	background-color:#e5d3f3;
}

#setsched-tbl thead{
	width:100%;
	height:15%;
	background-color:#731d74;
	color:#ffffff;
}

#setsched-tbl th, #setsched-tbl td {
	width:50%;
	
}

#setsched-tbl tr, #setsched-tbl th, #setsched-tbl td  {
	border:2px solid #000000;
	text-align:center;
	height:100px;
	
}


/* SCHEDULING WEEK */
#sched-week {
	height:100%;
	display:block;
}

.week-boxes {
	display:flex;
	justify-content:space-evenly;
	flex-wrap:wrap;
	align-items:center;
	height:60%;
	padding:10px;
}

.weekday {
	margin:0;
	padding:0;
	width:18%;
	height:90%;
	border:1px solid black;
	background-color: #e5d3f3;
}

.day {
	text-align:center;
	display:block;
	background-color:#731d74;
	color:#ffffff;
}

.day h3{
	margin:0;
	padding:10px;
}

.teachers-scheduling {
	display:flex;
	justify-content:flex-start;
	gap:5px;
	height:32%;
}

.teacher {
	display:flex;
	align-items:center;
	justify-content:center;
	width:15%;
	padding-top:5px;
	height:40%;
	position: relative;
}

.sched-border {
	width:50%;
	border-radius:5px;
	position: relative;
	border-bottom:5px solid yellow;
}

.sched-label {
	font-weight: bold;
	  color: black;
	  display: block;
}

.info-card {
  display: none;
  position: absolute;
  bottom:50px;
  width: 180px;
  background-color: #fffff0;
  border: 2px solid #aa66cc;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  z-index: 3;
}

.teacher:hover .info-card {
  display: block;
}






/* MAIN */
#main {
	transition:margin-left .5s;
	margin-top:25vh;
	margin-bottom:5vh;
}

.in-page {
	display: inline-block;
	width:98%;
	margin-top:15px;
	padding-left:20px;
}

.container {
	margin:auto;
	margin-top:10px;
	width:95%;
	height:100%;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-evenly;
	align-items:center;
}

.container .header-img img {
	object-fit:contain;
}

.container .room-box {
	margin:10px 0;
	margin-right:5px;
	padding:5px;
	width:30%;
	height:40%;
	text-align:center;
	display:flex;
	flex-direction:column;
	border:2px solid black;
}

.container .header-img {
	margin:auto;
	width:100%;
	height:80%;
}

.container .header-img h3 {
	margin:0;
	padding:0;
}

.header-img figure{
	border:2px solid purple;
}

.container .header-img .room-img {
	width:100%;
	height:200px;
	margin:auto;
	margin-bottom:0;
	padding-bottom:0;
}

#unavailable{
	opacity: 0.7;
	filter: grayscale(100%);
}

.container .desc {
	height:20%;
} 

.container .desc ul {
	margin:0;
	padding:0 5px;
}

.container .desc ul li {
	list-style-type:none;
	margin:0;
	padding:0;
}


h2{
	margin: 0;
} 
